<template>
  <section>
      <propertiesPageHeader></propertiesPageHeader>
    <div class="gradient_spacer relative w-full m-0"></div>
    <ul class="flex flex-wrap flex-row max-main">
      <floorlisting name="FLOOR 1"></floorlisting>
      <floorlisting name="FLOOR 2"></floorlisting>
      <floorlisting name="FLOOR 3"></floorlisting>
      <floorlisting name="FLOOR 4"></floorlisting>
      <floorlisting></floorlisting>
      <floorlisting></floorlisting>
    </ul>
  </section>
</template>

<script>
import propertiesPageHeader from '@/components/propertiesPageHeader.vue';
import floorlisting from '@/components/propertiesFloorBlock.vue';
export default {
  components: { floorlisting,propertiesPageHeader },
  data() {
    return {};
  },
  mounted() {
    // this.$store.watch(
    //   (state) => {
    //     return state.path;
    //   },
    //   ((newVal, oldVal) => {
    //     if (newVal !== oldVal) {
    //       this.currentComponent = newVal;
    //       console.log(newVal);
    //       // this.resetState();
    //       // this.setFlowEnvironment(newVal);
    //       // this.$forceUpdate();
    //     }
    //   }).bind(this),
    //   {}
    // );
  },
  watch: {},
  methods: {},
};
</script>
<style lang="scss" scope>
@import '../styles/typovars';
.gradient_spacer{
    border:none;
}
</style>
