<template>
  <section>
    <div class="listHeader">
      <h1 class="pl-3 homeHeader">Users</h1>
      <div class="grid grid-cols-7 gap-5">
        <div class="col-span-2 pl-3 text-12 pl-3">Name</div>
        <div class="col-span-2 text-12 pl-3">Email</div>
        <div class="col-span-1 text-12 pl-3">Phone</div>
        <div class="col-span-2 text-12 pl-3">Role</div>
      </div>
      <div class="gradient_spacer relative w-full m-0"></div>
    </div>
    <ul>
      <userlisting name="Susan Jones" role="Owner"></userlisting>
      <userlisting name="Janet Evans" role="Property Manager"></userlisting>
      <userlisting name="Bob Stevens" role="Maintenance"></userlisting>
    </ul>
    <div class="absolute bottom-0 right-0 p-5 align-right text-18 grid grid-cols-2 gap-5">
      <button class="cursor-not-allowed grey px-10">ADD ROLE</button>
      <button class="cursor-not-allowed yellow px-10">ADD USER</button>
    </div>
  </section>
</template>

<script>
// import propertiesPageHeader from '@/components/propertiesPageHeader.vue';
import userlisting from '@/components/usersListItem.vue';

export default {
  components: { userlisting },
  data() {
    return {};
  },
  mounted() {},
  watch: {},
  methods: {},
};
</script>
<style lang="scss" scope>
@import '../styles/typovars';
</style>
