<template>
  <router-link :to="buildingURL" tag="li" class="w-full relative rounded grey p-2 mb-3">
    <!-- <div class="w-full relative rounded grey p-2 mb-2" @click="buildingClick"> -->
    <div class="grid grid-cols-9 gap-5">
      <div class="col-span-2 text-white font-extrabold text-20 my-auto p-2">{{ buildingName }}</div>
      <div class="col-span-1 text-white font-extrabold text-20 border-left my-auto p-2">{{ buildingUnits }}</div>
      <div class="col-span-1 text-white font-extrabold text-20 border-left my-auto p-2">{{ buildingAppliances }}</div>
      <div class="col-span-1 font-extrabold text-20 text-green border-left my-auto p-2">{{ buildingOnline }}</div>
      <div class="col-span-1 font-extrabold text-20 text-yellow border-left my-auto p-2">{{ buildingOffline }}</div>
      <div
        class="arrow-cta col-span-1 font-extrabold text-20 border-left my-auto p-2"
        :class="{ 'text-red': errors > 0, 'text-ltgrey': errors == 0 }"
      >
        {{ buildingErrors }}<span class="right-2"></span>
      </div>
    </div>
  </router-link>
</template>

<script>
export default {
  props: {
    name: {
      type: String,
      default: 'Building 1',
    },
    units: {
      type: String,
      default: '40',
    },
    appliances: {
      type: String,
      default: '1000',
    },
    online: {
      type: String,
      default: '1234',
    },
    offline: {
      type: String,
      default: '245',
    },
    errors: {
      type: String,
      default: '3',
    },
    url: {
      type: String,
      default: '/properties/orchard-gardens/building-1',
    },
  },
  components: {},
  data() {
    return {
      buildingName: this.name,
      buildingAddress: this.address,
      buildingUnits: this.units,
      buildingAppliances: this.appliances,
      buildingOnline: this.online,
      buildingOffline: this.offline,
      buildingErrors: this.errors,
      buildingManager: this.manager,
      buildingURL: this.url,
    };
  },
  computed: {},
  mounted() {},
  watch: {},
  methods: {
    buildingClick: function() {
      //
    },
  },
};
</script>
<style lang="scss" scope>
@import '../styles/typovars';
@import '../styles/shared';
.text-ltgrey {
  color: #c3c3c3;
}
.rounded {
  cursor: pointer;
}
</style>
